body {
  background: blanchedalmond;
  display: flex;
  justify-content: center;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 30px;
  font-size: 20px;
  font-weight: 600;
  color: #bb1e1e;
}
h1 {
  color: #bb1e1e;
  margin-top: 0;
  margin-bottom: 50px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

button {
  box-sizing: border-box;
  font-size: 20px;
  margin: 3px;
  font-weight: 600;
  background: beige;
}

.buttonTrue {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #000;
  background: yellow;
  border: none;
  border-radius: 30px;
  box-shadow: 0 11px rgb(41, 38, 38);
}

.buttonFalse {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background: red;
  border: none;
  border-radius: 30px;
  box-shadow: 0 11px rgb(41, 38, 38);
}
